@tailwind base;
@tailwind components;
@tailwind utilities;

.selectedCategory {
  @apply bg-amber-200 !important;
}

.selectedCategory p {
  @apply text-amber-900 !important;
}
.logo{
  width:100px;
  height:60px; 
}
#conten1{
  display:flex;
  padding-left:20px ;
  padding-right:20px;
}
.conteneur{
  display:flex;
  justify-content: space-between;
  
}
nav{
  margin:auto;
  width:40%;
}
.contcross
{
  height: 25px;
}
